html, body, .grid-container { height: 100%; margin: 0; }

.grid-container * { 
 border: 0px dashed black;
 position: relative;
}

.grid-container *:after {
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr  min-content;
  grid-auto-rows: minmax(100px, auto); */
  grid-template-areas: "MenuPanel LeftEnginePanel RightEnginePanel" "PresetsPanel ChartsPanel TemperaturePanel" "VideoPanel ChartsPanel StatusPanel";

}

.LeftEnginePanel { 
  background-color: #e5e5e6;
  grid-area: LeftEnginePanel; 
  border: 1px solid #4c5c68; 
  padding: 10px 10px 10px 10px;
}

.RightEnginePanel { 
  background-color: #e5e5e6;
  grid-area: RightEnginePanel;
  border: 1px solid #4c5c68;; 
  padding: 10px 10px 10px 10px; 
}

.ChartsPanel { 
  grid-area: ChartsPanel; 
  border: 1px solid #4c5c68;; 
  padding: 10px 10px 10px 10px;
}

.TemperaturePanel { 
  grid-area: TemperaturePanel; 
  border: 1px solid #4c5c68;; 
  padding: 10px 10px 10px 10px;
}

.MenuPanel { 
  grid-area: MenuPanel; 
  border: 1px solid #4c5c68;; 
  padding: 10px 10px 10px 10px;
}

.PresetsPanel { 
  grid-area: PresetsPanel; 
  border: 1px solid #4c5c68;; 
  padding: 10px 10px 10px 10px;
 }

 .VideoPanel { 
  grid-area: VideoPanel; 
  border: 1px solid #4c5c68;; 
  padding: 10px 10px 10px 10px;
 }

 .StatusPanel {
  grid-area: StatusPanel; 
  border: 1px solid #4c5c68;; 
  padding: 10px 10px 10px 10px;
 }