html, body, .grid-container { height: 100%; margin: 0; }

.grid-container * { 
 border: 0px dashed black;
 position: relative;
}

.grid-container *:after {
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr min-content;
  grid-template-areas: "SideBar LeftEnginePanel RightEnginePanel" "SideBar LeftSettingsPanel TemperaturePanel" "SideBar LeftSettingsPanel TemperaturePanel";
}

.LeftEnginePanel { grid-area: LeftEnginePanel; }

.RightEnginePanel { grid-area: RightEnginePanel; }

.LeftSettingsPanel { grid-area: LeftSettingsPanel; }

.TemperaturePanel { grid-area: TemperaturePanel; }

.SideBar { grid-area: SideBar; }