.settings-container {
}

.settings-container * button {
    width: 100%;
}

.settings-panel {
    display: flex;
    width: 40%;
    flex-direction: column;
}

.settings-panel-container {
    display: flex; 
}

.settings-row .label {
    width: 40%;
}

.settings-authors-info {
    text-align: center;
    position: relative;
    float: right;
}

