input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.custom-number-input {
    font-size: 20px;
    width: 30%;
    margin-left: 4px;
    margin-right: 4px;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #dcdcdd;
}

.custom-number-input-container button {
        margin: 0px;    
}

.custom-number-input:focus {
    background-color: #c5c3c6;    
    outline: 2px solid #1985a1;   
}

.custom-number-input-container {
    display: flex;
    flex-direction: row;
}