
.customNumberInput {
    font-family: 'youngregular';
    font-size: 20px;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #dcdcdd;
    outline: 1px solid #c5c3c6;
}

.customNumberInput:focus {
    background-color: #c5c3c6;    
    outline: 2px solid #1985a1;   
}