.customInput {
    font-family: 'youngregular';
    font-size: 14px;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #dcdcdd;    
    outline: 1px solid #c5c3c6;
}

.customInput:focus {
    background-color: #1985a1;
    outline: 2px solid #dcdcdd;
    color: white
}
