input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.customInput { 
    font-size: 14px;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #dcdcdd;    
    outline: 1px solid #c5c3c6;
}

.customInput:focus {
    background-color: #1985a1;
    outline: 2px solid #dcdcdd;
    color: white
}
