@import '../../index.css';

.customButton {
    font-family: 'youngregular';
    font-size: 20px;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #c5c3c6;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.customButton * {
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
}

.customButton .icon {
    width: 20px
}

.customButton:hover {
    background-color: #1985a1;
    outline: 2px solid #dcdcdd;
    color: white;
    fill: white;
}

.customButton:active {
    background-color: #4c5c68;
    outline: 2px solid white;
    color: white
}

.customButton:disabled {
    background-color: #dcdcdd;
    outline: 2px solid #c5c3c6;
    color:  #c5c3c6;
    cursor: default;
}
