.customSubmit {
    font-size: 20px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #c5c3c6;
    cursor: pointer;
}

.customSubmit:hover {    
    background-color: #1985a1;
    outline: 2px solid #dcdcdd;
    color: white
}

.customSubmit:active {
    background-color: #4c5c68;
    outline: 2px solid white;
    color: white
}