.status-spinner {
    position: relative;
    width: 120px;
    float: right;
}

.state-row {
    display: flex; 
    align-items: center;
    margin: 5px;
}

.state-row-label {
    margin-right: 5px;
}

.state-row-toggle{ 
    margin: 5px;
}